body {
  background-color: #ff66ff;
}

.containerEntire {
  border: 1px solid black;
  padding-left: 0px;
  padding-right: 0px;
  background-color: white;
  font-family: monospace;
}

.imgfloat {
  width: 350px;
}

.myJumbotron {
  background-color: #ccff66;
}
