body {
  background-color: #ff66ff; /*pink*/
}

.projecttitle {
  text-shadow: #ccff66 2px 5px;
}

.containerEntire {
  border: 1px solid black;
  padding-left: 0px;
  padding-right: 0px;
  background-color: white;
  font-family: monospace;
}

.containerNav {
  white-space: nowrap;
}

.containerProjects {
  padding: 50px;
}

.containerTopSpace {
  padding-top: 50px;
}

.imgfloat {
  width: 30%;
  float: left;
  border-left: 3px solid black;
  border-right: 1px solid black;
  border-bottom: 3px solid black;
  border-top: 1px solid black;
  margin-right: 10px;
}

.linkfloat {
  float:right;
}

.myJumbotron {
  background-color: #ccff66; /*green*/
}


.projDesc {
  font-family: sans-serif;
  font-size: 12pt;
  width: 65%;
  float: right;
  padding-right: 20px;
}
