body {
  background-color: #ff66ff;
}

.containerEntire {
  border: 1px solid black;
  padding-left: 0px;
  padding-right: 0px;
  background-color: white;
  font-family: monospace;
}

.containerNav {
  white-space: nowrap;
}

.imgfloat {
  width: 150px;
  float: right;
}

.myJumbotron {
  background-color: #ccff66;
}
